
h1
{
        color:pink
}

 img { 

       width: 400px;
}

 #thirDiv 
{   height: 600px;
    width: 500 px;
    background-color: black;
    padding: 50px; 
    border: 2px solid violet;
} 

#spanId {
     font-size: 18px;
     margin:  50px;
      }
